# POSTGRES CONFIGURATION
POSTGRES_USER="usuario-postgres"
POSTGRES_PASSWORD="constraseña-postgres"
POSTGRES_DB="nombre-base-datos"
# NO CAMBIAR
POSTGRES_HOST="database" 

# PGADMIN
# NO ES NECESARIO QUE SEA UN CORREO REAL
PGADMIN_DEFAULT_EMAIL="correo-pg-admin@admin.com"
PGADMIN_DEFAULT_PASSWORD="contraseña-pg-admin"

#DJANGO 
DJANGO_KEY="DJANGO KEY"

#EMAIL
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD="" 
